/dist/
/build/
/nbproject/private/
/Part2-ejb/nbproject/private/
/Part2-war/nbproject/private/
/EPDA/nbproject/private/
/EPDA/EPDA-war/nbproject/private/
/EPDA/EPDA-ejb/nbproject/private/
/Part2-ejb/dist/
/Part2-ejb/build/
/Part2-war/build/
/Part2-war/dist/
